/* Structure */
#outsideFrame{
  height: 562px;
  width: 525px;
  border: 1px solid black;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: darkgray;
}

#historyWindow{
  height: 56px;
  width: 480px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-radius: 40% 40% 0% 0%; /* top-left, top-right */
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 15px;
  font-family: "courier new";
  font-size: 16pt;
  font-weight: 200;
  color: lightblue;
}

#displayWindow{
  height: 56px;
  width: 480px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  /* bottom right, bottom, left */
  border-radius: 0% 0% 10% 10%;
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 15px;
  font-family: "courier new";
  font-size: 24pt;
}


#numOpDiv{
  height: 375px;
  width: 487px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#numbersDiv{
  height: 345px;
  width: 255px;   
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
}

#operatorEqualDiv{
  height: 345px;
  width: 165px;  
  gap: 7px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#operatorsDiv{
  height: 165px;
  width: 165px;  
  gap: 6px;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#equalDiv{
  height: 165px;
  width: 165px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-evenly;
}


/* Buttons */
#numbersDiv button, #operatorsDiv button{
  height: 75px;
  width: 75px;    
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 10%;
  font-size: 24pt;
  font-weight: 700;
  font-family:"Trebuchet MS";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 1px 2px rgb(70, 70, 70);
  cursor: pointer;
}

/* Make button look like it is being 'pressed' */
#numbersDiv button:active, #operatorsDiv button:active, 
#equalDiv button:active, #equalDiv input:active{
  box-shadow: 0 0 0 darkgray;
  margin: 1px 0 -1px 0;
}

#number0Btn, #number1Btn, #number2Btn, #number3Btn, #number4Btn,
#number5Btn, #number6Btn, #number7Btn, #number8Btn, #number9Btn,
#decimalBtn{
  color: blue;
  background-color: whitesmoke;
}

#clearBtn{
  color: white;
  background-color: darkgoldenrod;
}

#additionBtn, #subtractionBtn, #multiplicationBtn, #divisionBtn{
  color: white;
  background-color: gray;
}

#equalBtn{
  height: 162px;
  width: 75px;    
  margin: 0;
  padding: 0;
  border: 1px solid lightgray;
  border-radius: 10%;
  font-size: 24pt;
  font-weight: 700;
  font-family:"Trebuchet MS";
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  color: white;
  background-color: darkolivegreen;
  box-shadow: 2px 1px 2px rgb(70, 70, 70);
}

#deleteBtn{
  height: 73px;
  width: 73px;    
  margin-right: 2px;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 1px 2px rgb(70, 70, 70);
}
